<div fxLayout="row"
     *ngIf="comments.length > 0"
     [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     (window:scroll)="checkScroll()"
     fxLayoutAlign="center">

  <button id="filter-close-button"
          mat-icon-button
          class="searchBarButton"
          *ngIf="filter.filterType"
          (click)="applyFilterByKey(null)"
          aria-labelledby="close_filter">
    <mat-icon class="searchBarIcon red">close</mat-icon>
  </button>
  <mat-label *ngIf="deviceType === 'desktop'"
             fxLayoutAlign="center center">
    <mat-icon class="search-icon">search</mat-icon>
  </mat-label>
  <input appAccessibilityEscapedInput
         #searchBox
         id="searchBox"
         [ngClass]="{'desktop-input': deviceType === 'desktop',
   'mobile-input': deviceType === 'mobile' && !search, 'mobile-input-2': deviceType === 'mobile' && search }"
         (input)="searchComments()"
         [(ngModel)]="filter.currentSearch"
         [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description">
  <button id="search_close-button"
          mat-icon-button
          class="searchBarButton close red"
          *ngIf="filter.currentSearch || search"
          (click)="abortSearch()"
          aria-labelledby="close_search">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar"
       [ngClass]="{'joyrideActive': isJoyrideActive}"
       [joyrideStep]="'commentFilter'"
       [stepPosition]="'bottom'"
       appJoyrideTemplate
       fxLayoutAlign="center center">
    <div *ngIf="comments && commentsFilteredByTime.length > 0">
      <h3 class="counter"
          *ngIf="!hideCommentsList">{{commentsFilteredByTime.length}}</h3>
      <h3 class="counter-filtered"
          *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button mat-icon-button
            class="searchBarButton"
            (click)="activateSearch(); applyFilterByKey(null)"
            *ngIf="deviceType === 'mobile' && !search && comments && comments.length > 0">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="swap_vert"
            *ngIf="!searchBox.value && comments && commentsFilteredByTime.length > 2 && !search"
            [matMenuTriggerFor]="sortMenu"
            matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button id="filter-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="filter_list"
            #filterMenuTrigger="matMenuTrigger"
            *ngIf="!searchBox.value && comments && commentsFilteredByTime.length > 2 && !search"
            [matMenuTriggerFor]="filterMenu"
            [ngClass]="{'active-filter': hideCommentsList}"
            matTooltip="{{ 'comment-list.filter-comments' | translate }}">
      <mat-icon class="searchBarIcon">filter_list</mat-icon>
    </button>

    <button id="time-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="time_settings"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="timeMenu"
            [ngClass]="{'active-filter': filter.period !== 'time-all'}"
            matTooltip="{{ 'comment-list.select-time' | translate }}">
      <mat-icon class="searchBarIcon">history</mat-icon>
    </button>

    <button id="pause-comments"
            mat-icon-button
            aria-labelledby="pause"
            class="freezeButton"
            *ngIf="!searchBox.value && !search && !freeze && comments.length > 2"
            (click)="activateCommentStream(true)"
            matTooltip="{{ 'comment-list.pause-comments' | translate }}">
      <mat-icon class="freezeIcon material-icons-outlined">stop_circle</mat-icon>
    </button>

    <button id="play-comments"
            mat-icon-button
            aria-labelledby="play"
            class="freezeButton"
            *ngIf="!searchBox.value && !search && freeze"
            (click)="activateCommentStream(false)"
            matTooltip="{{ 'comment-list.play-comments' | translate }}">
      <mat-icon class="playIcon material-icons-outlined">play_circle</mat-icon>
    </button>

  </div>

  <mat-menu #timeMenu="matMenu"
            xPosition="before">
    <div *ngFor="let periodItem of periodsList">
      <button mat-menu-item
              (click)="setTimePeriod(periodItem)"
              class="period"
              [ngClass]="{'selected': periodItem === filter.period}"
              aria-labelledby="{{periodItem}}">
        <span>{{ ('comment-list.select-' + periodItem) | translate }}</span>
      </button>
    </div>
  </mat-menu>

  <mat-menu #sortMenu="matMenu"
            xPosition="before">

    <button mat-menu-item
            (click)="applySortingByKey('time')"
            aria-labelledby="access_time">
      <mat-icon [ngClass]="{time: 'timesort'}[filter.sortType]">update</mat-icon>
      <span [ngClass]="{time: 'timesort'}[filter.sortType]">{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item
            (click)="applySortingByKey('score')"
            aria-labelledby="keyboard_arrow_up">
      <mat-icon class="material-icons-outlined"
                [ngClass]="{score: 'up'}[!filter.sortReverse && filter.sortType]">
        thumb_up
      </mat-icon>
      <span [ngClass]="{score: 'up'}[!filter.sortReverse && filter.sortType]">
        {{ 'comment-list.sort-vote-asc' | translate }}
      </span>
    </button>

    <button mat-menu-item
            (click)="applySortingByKey('score', true)"
            aria-labelledby="keyboard_arrow_down">
      <mat-icon [ngClass]="{score: 'down'}[filter.sortReverse && filter.sortType]"
                class="material-icons-outlined">
        thumb_down
      </mat-icon>
      <span [ngClass]="{score: 'down'}[filter.sortReverse && filter.sortType]">
        {{ 'comment-list.sort-vote-desc' | translate }}
      </span>
    </button>

    <button mat-menu-item
            (click)="applySortingByKey('controversy')"
            aria-labelledby="controversy">
      <mat-icon class="material-icons-outlined" [ngClass]="{controversy: 'controversy'}[filter.sortType]">
        quickreply
      </mat-icon>
      <span
        [ngClass]="{controversy: 'controversy'}[filter.sortType]">
        {{ 'comment-list.sort-controversy' | translate }}
      </span>
    </button>

  </mat-menu>

  <mat-menu #filterMenu="matMenu"
            xPosition="before">
    <div>

      <button mat-menu-item
              (click)="applyFilterByKey('favorite')"
              aria-labelledby="grade">
        <mat-icon class="star material-icons-outlined"
                  [ngClass]="{favorite: 'favorite-icon'}[filter.filterType]">grade
        </mat-icon>
        <span
          [ngClass]="{favorite: 'favorite-icon'}[filter.filterType]">{{ 'comment-list.filter-favorite' | translate }}</span>
      </button>

      <button mat-menu-item
              (click)="applyFilterByKey('bookmark')"
              aria-labelledby="bookmark">
        <mat-icon class="bookmark"
                  [ngClass]="{bookmark: 'bookmark-icon'}[filter.filterType]">bookmark
        </mat-icon>
        <span
          [ngClass]="{bookmark: 'bookmark-icon'}[filter.filterType]">{{ 'comment-list.filter-bookmark' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="applyFilterByKey('not_bookmarked')"
              aria-labelledby="not-bookmark">
        <mat-icon class="not_bookmarked"
                  [ngClass]="{not_bookmarked: 'not_bookmarked-icon'}[filter.filterType]">bookmark_border
        </mat-icon>
        <span
          [ngClass]="{not_bookmarked: 'not_bookmarked-icon'}[filter.filterType]">{{ 'comment-list.filter-not_bookmarked' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="applyFilterByKey('answer')"
              aria-labelledby="comment">
        <mat-icon class="answer"
                  [ngClass]="{answer: 'answered-icon'}[filter.filterType]">comment
        </mat-icon>
        <span
          [ngClass]="{answer: 'answered-icon'}[filter.filterType]">{{ 'comment-list.filter-answered' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="applyFilterByKey('unanswered')"
              aria-labelledby="comment">
        <mat-icon class="unanswered material-icons-outlined"
                  [ngClass]="{unanswered: 'unanswered-icon'}[filter.filterType]">comment
        </mat-icon>
        <span
          [ngClass]="{unanswered: 'unanswered-icon'}[filter.filterType]">{{ 'comment-list.filter-unanswered' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="applyFilterByKey('owner')"
              aria-labelledby="comment">
        <mat-icon class="material-icons-outlined" [ngClass]="{owner: 'owner-icon'}[filter.filterType]">
          person_pin_circle
        </mat-icon>
        <span [ngClass]="{owner: 'owner-icon'}[filter.filterType]">{{ 'comment-list.filter-owner' | translate }}</span>
      </button>

      <button mat-menu-item
              (focus)="hideCommentsList=true"
              (click)="applyFilterByKey('brainstormingQuestion')">
        <mat-icon class="material-icons-outlined" [ngClass]="{brainstormingQuestion: 'brainstorm-icon'}[filter.filterType]">
          tips_and_updates
        </mat-icon>
        <span [ngClass]="{brainstormingQuestion: 'brainstorm-icon'}[filter.filterType]">
          {{ 'comment-list.filter-brainstorm' | translate }}
        </span>
      </button>

      <button mat-menu-item
              role="option"
              (focus)="hideCommentsList=true"
              (click)="$event.stopImmediatePropagation()">
        <mat-form-field>
          <mat-label [ngClass]="{number: 'number-icon'}[filter.filterType]">
            <mat-icon class="material-icons-outlined" [ngClass]="{number: 'number-icon'}[filter.filterType]">
              numbers
            </mat-icon>
            {{'comment-list.filter-question-number' | translate}}
          </mat-label>
          <input type="text"
                 #autoTrigger="matAutocompleteTrigger"
                 #questionNumber
                 [formControl]="questionNumberFormControl"
                 appAccessibilityEscapedInput
                 matInput
                 [matAutocomplete]="auto"
                 (keyup.enter)="useCommentNumber(questionNumber, filterMenuTrigger, autoTrigger)">
          <mat-icon class="material-icons align-arrow-right"
                    (click)="useCommentNumber(questionNumber, filterMenuTrigger, autoTrigger); $event.stopImmediatePropagation()"
                    [ngClass]="{number: 'number-icon'}[filter.filterType]">
            {{isInCommentNumbers(questionNumber.value) ? 'forward' : 'arrow_drop_down'}}
          </mat-icon>
          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="useCommentNumber(questionNumber, filterMenuTrigger, autoTrigger)">
            <mat-option *ngFor="let number of questionNumberOptions" [value]="number">
              {{number}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </button>

      <!--
      <button mat-menu-item
              *ngIf="userRole !== 3"
              (click)="filterComments(lecturer)"
              aria-labelledby="lecturer">
        <mat-icon class="lecturer"
                  [ngClass]="{lecturer: 'lecturer-icon'}[currentFilter]">school
        </mat-icon>
        <span
          [ngClass]="{lecturer: 'lecturer-icon'}[currentFilter]">{{ 'comment-list.filter-lecturer' | translate }}</span>
      </button>

      <button mat-menu-item
              (click)="filterComments(moderator)"
              aria-labelledby="moderator">
        <mat-icon class="moderator"
                  [ngClass]="{moderator: 'moderator-icon'}[currentFilter]">gavel
        </mat-icon>
        <span
          [ngClass]="{moderator: 'moderator-icon'}[currentFilter]">{{ 'comment-list.filter-moderator' | translate }}</span>
      </button>
      -->

      <button mat-menu-item
              (focus)="hideCommentsList=false"
              (click)="applyFilterByKey(null)"
              aria-labelledby="close">
        <mat-icon>close</mat-icon>
        <span>{{ 'comment-list.filter-reset' | translate }}</span>
      </button>

    </div>
  </mat-menu>
</div>

<button mat-fab
        mat-icon-button
        class="scrollTop"
        [ngClass]="{'visible': isScrollButtonVisible()}"
        (click)="AppComponent.scrollTop()">
  <mat-icon>vertical_align_top</mat-icon>
</button>

<div id="createCommentJoyrideWrapper"
     [joyrideStep]="'createQuestion'"
     [stepPosition]="'center'"
     appJoyrideTemplate>
</div>

<button *ngIf="commentsEnabled"
        mat-fab
        mat-icon-button
        aria-labelledby="add"
        class="fab_add_comment"
        (click)="writeComment()"
        matTooltip="{{ 'comment-list.add-comment' | translate }}">
  <mat-icon>add</mat-icon>
</button>

<app-mat-spinner-overlay *ngIf="isLoading" overlay="true"></app-mat-spinner-overlay>

<div *ngIf="!isLoading">
  <app-comment
    *ngFor="let current of getComments().slice(pageIndex * pageSize, (pageIndex * pageSize) + pageSize); let i = index"
    [appScrollIntoView]="current.id === focusCommentId"
    [usesJoyride]="i === 0 && isJoyrideActive"
    [comment]="current"
    [parseVote]="getVote(current)"
    [userRole]="userRole"
    [moderator]="false"
    [isFromModerator]="filter.moderatorAccountIds.has(current.creatorId)"
    [isFromOwner]="room.ownerId === current.creatorId"
    [user]="user"
    [disabled]="!commentsEnabled"
    [commentsWrittenByUser]="commentsWrittenByUsers.get(current.creatorId).size"
    (clickedOnTag)="applyFilterByKey('tag', $event)"
    (clickedUserNumber)="applyFilterByKey('userNumber', $event)"
    (clickedOnKeyword)="applyFilterByKey('keyword', $event)"
    (votedComment)="votedComment($event)">
  </app-comment>
  <ars-mat-paginator
    *ngIf="(hideCommentsList ? filteredComments : commentsFilteredByTime).length>0"
    [pageSize]="this.pageSize"
    (page)="handlePageEvent($event)"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    [length]="(hideCommentsList ? filteredComments : commentsFilteredByTime).length"></ars-mat-paginator>
  <ars-row [height]="64" *ngIf="(hideCommentsList ? filteredComments : commentsFilteredByTime).length>0">
  </ars-row>

</div>
<!-- Active User Overlay -->
<app-active-user *ngIf="room" [room]="this.room"></app-active-user>

<!-- No Questions Present -->
<div
  *ngIf="comments && (commentsFilteredByTime.length < 1 && filter.period === 'time-all' || comments.length === 0) && !isLoading"
  fxLayout="row"
  fxLayoutAlign="center center"
  class="no-comments">
  <p class="oldtypo-p">{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div *ngIf="(filteredComments && filteredComments.length === 0 && hideCommentsList)
            || (comments && commentsFilteredByTime.length === 0 && filter.period !== 'time-all') && !isLoading && comments.length > 0"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <p
    class="oldtypo-p">{{ (search ? 'comment-page.no-comments-with-search' : 'comment-page.no-comments-with-filter') | translate }}</p>
</div>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div id="search-box-input-description">
    {{ 'comment-page.search-box-input-description' | translate }}
  </div>
  <div id="swap_vert">{{'comment-list.a11y-swap_vert' | translate}}</div>
  <div id="keyboard_arrow_up">{{'comment-list.a11y-keyboard_arrow_up' | translate}}</div>
  <div id="keyboard_arrow_down">{{'comment-list.a11y-keyboard_arrow_down' | translate}}</div>
  <div id="access_time">{{'comment-list.a11y-access_time' | translate}}</div>
  <div id="controversy">{{'comment-list.a11y-controversy' | translate}}</div>
  <div id="filter_list">{{'comment-list.a11y-filter_list' | translate}}</div>
  <div id="check_circle">{{'comment-list.a11y-check_circle' | translate}}</div>
  <div id="not_interested">{{'comment-list.a11y-not_interested' | translate}}</div>
  <div id="grade">{{'comment-list.a11y-grade' | translate}}</div>
  <div id="moderator">{{'comment-list.a11y-moderator' | translate}}</div>
  <div id="lecturer">{{'comment-list.a11y-lecturer' | translate}}</div>
  <div id="bookmark">{{'comment-list.a11y-bookmark' | translate}}</div>
  <div id="not-bookmark">{{'comment-list.a11y-not-bookmark' | translate}}</div>
  <div id="beamer_icon">{{'comment-list.a11y-beamer_icon' | translate}}</div>
  <div id="close">{{'comment-list.a11y-close' | translate}}</div>
  <div id="add">{{'comment-list.a11y-add' | translate}}</div>
  <div id="pause">{{'comment-list.a11y-pause' | translate}}</div>
  <div id="play">{{'comment-list.a11y-play' | translate}}</div>
  <div id="close_search">{{'comment-list.a11y-close_search' | translate}}</div>
  <div id="new-comment">{{ 'comment-page.new-comment' | translate:{comment: newestComment} }}</div>
  <div id="select-time">{{ 'comment-list.a11y-select-time' | translate }}</div>
  <div id="select-time-1h">{{ 'comment-list.a11y-select-time-1h' | translate }}</div>
  <div id="select-time-3h">{{ 'comment-list.a11y-select-time-3h' | translate }}</div>
  <div id="select-time-1d">{{ 'comment-list.a11y-select-time-1d' | translate }}</div>
  <div id="select-time-1w">{{ 'comment-list.a11y-select-time-1w' | translate }}</div>
  <div id="select-time-all">{{ 'comment-list.a11y-select-time-all' | translate }}</div>
  <div id="activity">{{ 'comment-list.a11y-activity' | translate }} {{activeUsers}}</div>
</div>
