$joyrideElementPadding: 5px;

app-comment {
  overflow: auto;
  overflow-wrap: break-word;
}

.mat-form-field {
  float: left;
  padding-left: 5px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 60px;
  font-size: large;
  border-radius: 5px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

.desktop-input {
  width: 100%;
}

.mobile-input {
  width: 0;
}

.mobile-input-2 {
  width: 100%;
  margin-left: 3%;
}

.search-container {
  border-radius: 5px;
  background-color: var(--background);
  margin-bottom: 2%;
}

.search-container-fixed {
  border-radius: 5px;
  background-color: var(--background);
  margin-bottom: 2%;
  position: fixed;
  top: 10px;
  width: 92%;
  max-width: 800px;
  z-index: 1;
}

.search-icon {
  padding: 10px;
  color: var(--on-surface);
}

.searchBarButton {
  width: 45px !important;
  height: 45px !important;
  text-align: center;
  margin: 1% 2% 1% 1%;
  color: var(--secondary);
}

.red {
  color: var(--red) !important;
}

.actionButton {
  width: 45px;
  height: 45px;
  background-color: var(--primary);
}

.freezeButton {
  width: 45px;
  height: 45px;
  background-color: var(--background);
}

.actionIcon {
  transform: scale(1.2);
  color: var(--secondary);
}

.freezeIcon {
  transform: scale(1.7);
  color: var(--secondary);
}

.playIcon {
  transform: scale(1.7);
  color: var(--red);
}

.close {
  margin: 5px 0 5px 0;
}

.searchBarIcon {
  font-size: 45px;
  height: 45px;
  width: 45px;
  line-height: 100% !important;
  color: var(--secondary);
}

.no-comments {
  margin-top: 10%;
}

.button-bar {
}

.button-bar.joyrideActive {
  padding: 15px;
  margin: unset;
}

.correct-icon {
  color: var(--green);
}

.wrong-icon {
  color: var(--red);
}

.beamer-icon {
  color: var(--primary);
}

.answered-icon {
  color: var(--primary);
}

.unanswered-icon {
  color: slategray;
}

.favorite-icon {
  color: var(--yellow);
}

.bookmark-icon {
  color: var(--magenta);
}

.not_bookmarked-icon {
  color: slategray;
}

.owner-icon {
  color: var(--purple);
}

.brainstorm-icon {
  color: var(--primary);
}

.number-icon {
  color: var(--red);
}

.lecturer-icon {
  color: var(--primary);
}

.moderator-icon {
  color: var(--primary);
}

.counter {
  color: var(--secondary);
}

.counter-filtered {
  color: var(--red);
}

h3 {
  font-size: 18pt !important;
  margin: 10px 0 10px -10px;
}

.timesort {
  color: var(--primary);
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

.controversy {
  color: var(--primary);
}

::placeholder {
  color: var(--on-surface);
  filter: opacity(0.6);
  font-style: italic;
}

.fab-extended {
  width: 50%;
  min-width: 270px;
  max-width: 300px;
  height: 40px;
  border-radius: 32px;
  margin: 10% 0 10% 0;
  font-size: large;
  background-color: var(--primary);
  color: var(--on-primary);
}

.add {
  transform: scale(1.4);
  margin-right: 4%;
  margin-left: 4%;
  color: var(--on-primary);
}

.scrollTop {
  position: fixed;
  left: 25px;
  bottom: 65px;
  transform: scale(0);
  z-index: 1;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transition: 0.1s;
}

.fab_add_comment {
  position: fixed;
  right: 25px;
  bottom: 65px;
  z-index: 1;
  background-color: var(--primary);
  color: var(--on-primary);
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
}

#createCommentJoyrideWrapper {
  position: fixed;
  width: 56px + 2 * $joyrideElementPadding;
  height: 56px + 2 * $joyrideElementPadding;
  right: 17px - $joyrideElementPadding;
  bottom: 57px - $joyrideElementPadding;
  visibility: hidden;
}

.visible {
  transform: scale(1.4);
}

.selected {
  color: var(--red) !important;
  font-weight: bold;
  animation-name: animation_blink_5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 1.0 !important;
}

@keyframes animation_blink_5s {
  50% {
    opacity: 0;
  }
}

.active-filter .mat-icon {
  color: var(--red) !important;
  animation-name: animation_blink_5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
  opacity: 1.0 !important;
}

h1 {
  color: red;
}
