::ng-deep {
  .joyride-step__holder {
    z-index: 1000 !important;

    &.center {
      top: 22.5vh !important;
      left: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 55vh;
      transform: none !important;
    }
  }

  .joyride-step__header {
    padding: 0 !important;
  }

  .joyride-step__container {
    box-shadow: unset !important;
    border-radius: 10px;
    box-sizing: border-box !important;
    padding: 24px !important;
    display: block !important;
    background-color: var(--dialog) !important;
    color: var(--on-dialog) !important;
    width: 350px;
    max-width: 75vw !important;
    max-height: 55vh;
  }

  .joyride-arrow__top {
    border-bottom-color: var(--dialog) !important;
  }

  .joyride-arrow__bottom {
    border-top-color: var(--dialog) !important;
  }

  .joyride-arrow__right {
    border-left-color: var(--dialog) !important;
  }

  .joyride-arrow__left {
    border-right-color: var(--dialog) !important;
  }

  .joyride-backdrop {
    background-color: var(--primary) !important;
    opacity: 0.7;
  }

  .backdrop-container {
    z-index: 999 !important;
  }

  .joyride-step__close {
    width: 1em !important;
    height: 1em !important;
    top: 0.75em !important;
    right: 0.75em !important;

    line {
      stroke: var(--on-dialog);
    }
  }

  .joyride-step__body {
    hyphens: auto;
  }
}

#joyrideScrollContainer {
  overflow: auto;
  max-height: 32vh;
}

.joy-primary {
  color: var(--on-primary);
  background-color: var(--primary);
}

.joy-secondary {
  color: var(--on-secondary);
  background-color: var(--secondary);
}

h3 {
  margin-top: 0;
}
