<!--Imprint-->
<h1 tabindex="0"
    mat-dialog-title>{{ 'imprint.title' | translate }} </h1>

<mat-dialog-content tabindex="0">
  <app-imprint-en *ngIf="currentLang=='en'"></app-imprint-en>
  <app-imprint-de *ngIf="currentLang=='de'"></app-imprint-de>
  <P>{{ 'imprint.frontend' | translate }}</P>
  <iframe [src]="safeURLfrontend"
          style="height: 60px; width: 240px; border: none"></iframe>
  <p>{{ 'imprint.backend' | translate }}</p>
  <iframe [src]="safeURLbackend"
          style="height: 60px; width: 240px; border: none"></iframe>
</mat-dialog-content>

<app-dialog-action-buttons
  buttonsLabelSection="imprint"
  [cancelButtonClickAction]="buildDeclineActionCallback()">
</app-dialog-action-buttons>
