<ars-row>
  <ng-container [ngTemplateOutlet]="additionalTemplate"></ng-container>
  <button class="lang-btn"
          mat-button
          *ngIf="enabled"
          (click)="select.open()"
          matTooltip="{{ 'spacy-dialog.lang-button-hint' | translate }}"
          matTooltipShowDelay="750">
    <mat-icon class="btn-icon">language</mat-icon>
    <span *ngIf="selectedLang !== 'auto'">
        {{'spacy-dialog.' + (languagetoolService.mapLanguageToSpacyModel(selectedLang)) | translate}}
      </span>
    <span *ngIf="selectedLang === 'auto'" #langSelect>
      <em>{{'spacy-dialog.language' | translate}}</em>
      </span>
    <mat-select class="select-list" #select [(ngModel)]="selectedLang">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        <span *ngIf="lang == 'de-DE'">{{ 'spacy-dialog.de' | translate }}</span>
        <span *ngIf="lang == 'en-US'">{{ 'spacy-dialog.en' | translate }}</span>
        <span *ngIf="lang == 'fr'">{{ 'spacy-dialog.fr' | translate }}</span>
        <span *ngIf="lang == 'auto'"><em>{{ 'spacy-dialog.auto' | translate }}</em></span>
      </mat-option>
    </mat-select>
  </button>
  <button class="tag-btn"
          mat-button
          *ngIf="enabled && tags && tags.length"
          (click)="tagSelect.open()"
          matTooltip="{{ 'spacy-dialog.tag-button-hint' | translate }}"
          matTooltipShowDelay="750">
    <mat-icon class="btn-icon" svgIcon="comment_tag"></mat-icon>
    <label for="tagSelect" *ngIf="!selectedTag"><em>{{'comment-page.tag' | translate}}</em></label>
    <label for="tagSelect" *ngIf="selectedTag">{{selectedTag}}</label>
    <mat-select class="select-list" id="tagSelect" #tagSelect [(ngModel)]="selectedTag">
      <mat-option [value]="null"><em>{{'comment-page.tag-reset' | translate}}</em></mat-option>
      <mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
    </mat-select>
  </button>
</ars-row>
<ars-row [height]="12"></ars-row>
<app-view-comment-data *ngIf="enabled"
                       [isModerator]="isModerator"
                       [isEditor]="true"
                       [maxTextCharacters]="maxTextCharacters"
                       [maxDataCharacters]="maxDataCharacters"
                       [placeHolderText]="placeholder">
</app-view-comment-data>
<mat-form-field class="questioner-name-input" *ngIf="isQuestionerNameEnabled && enabled">
  <input appAccessibilityEscapedInput
         matInput
         [formControl]="questionerNameFormControl"
         name="questioner-name"
         maxlength="20"
         aria-labelledby="questioner-name"/>
  <mat-placeholder class="placeholder">{{ 'write-comment.questioner-name' | translate }}</mat-placeholder>
  <mat-hint align="end"><span aria-hidden="true">{{ questionerNameFormControl.value.length }} / 20</span></mat-hint>
  <mat-error *ngIf="questionerNameFormControl.hasError('minlength') ||
                    questionerNameFormControl.hasError('maxlength')">
    {{ 'write-comment.name-length-error' | translate }}
  </mat-error>
</mat-form-field>
<ars-row ars-flex-box *ngIf="enabled" class="spellcheck">
  <ars-col>
    <button
      [disabled]="!commentData || commentData.currentText.length < 5"
      mat-flat-button
      class="spell-button"
      (click)="checkGrammar()">
      {{ 'comment-page.grammar-check' | translate}}
      <mat-icon *ngIf="isSpellchecking" class="spinner-container">
        <app-mat-spinner-overlay diameter="20" strokeWidth="2" [color]="'on-primary'"></app-mat-spinner-overlay>
      </mat-icon>
    </button>
  </ars-col>
  <ars-col>
    <app-dialog-action-buttons
      [buttonsLabelSection]="i18nSection"
      [confirmButtonLabel]="confirmLabel"
      [cancelButtonLabel]="cancelLabel"
      [showLoadingCycle]="isSpinning"
      [showDivider]="false"
      [spacing]="false"
      [cancelButtonClickAction]="buildCloseDialogActionCallback()"
      [confirmButtonClickAction]="buildCreateCommentActionCallback(this.onSubmit)"
    ></app-dialog-action-buttons>
  </ars-col>
</ars-row>

<div class="visually-hidden">
  <div id="questioner-name">{{ 'write-comment.a11y-questioner-name' | translate }}</div>
</div>
