iframe {
  border-width: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.responsive-iframe {
  position: absolute;
  width: 100%;
  top: 64px;
  height: calc(100% - 64px);
}

@media only screen and (max-width: 599px) {
  .responsive-iframe {
    position: absolute;
    width: 100%;
    top: 56px; 
    height: calc(100% - 56px);
  }
}