@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  min-height: auto;
  padding: 0 10% 25% 10%;
  background-color: var(--surface) !important;
}

mat-card-content > :first-child {
  margin: 3% 0 3% 0;
}

.mat-icon-button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: var(--primary) !important;
}

.main-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 100% !important;
}

.desktop {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

button {
  width: 30%;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2)
  }
}


h3 {
  margin: 5% 0 0 0;
  color: var(--on-surface) !important;
  font-size: 14px !important;
  font-weight: normal;
}

h2 {
  font-size: 16px !important;
  font-weight: normal;
  margin-top: 35px;
}

mat-card-header {
  margin: 0;
}

mat-card-title {
  color: var(--on-surface) !important;
}

mat-card-subtitle {
  color: var(-on--surface) !important;
}

mat-expansion-panel {
  background-color: var(--surface) !important;
  min-width: 200px;
  hyphens: auto;
}

mat-grid-list {
  margin: 0;
}

mat-grid-tile {
  height: 100% !important;
  padding: 15% 0 15% 0 !important;
}

#settings {
  width: 10%;
  max-width: 40px;
}

#settings-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.gavel {
  margin-top: 30px;
  color: var(--red);
  transform: scale(1.8);
}

.room-short-id {
  font-size: 16px;
  color: var(--on-surface) !important;
  margin-top: -10px;
}

::ng-deep .mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
}

markdown {
  color: var(--on-surface);
  margin: 0 3% 0 3% !important;
}
