<ars-screen class="screen"
            *ngIf="!resolved">

  <div class="background">

  </div>

  <div class="particle-container">
    <div *ngFor="let particle of [].constructor(15)"
         class="particle-element"></div>
  </div>

  <div class="centered">

      <p class="qw-animation-2 qw-text-2">
        <span *ngFor="let char of toArray('frag.jetzt')">{{char}}</span>
      </p>

  </div>

</ars-screen>
