<h1 style="display: none;"
    [joyrideStep]="'greeting'"
    appJoyrideTemplate
    [stepPosition]="'center'">
</h1>

<div data-nosnippet
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px"
     fxFill>
  <div fxLayout="row"
       fxLayoutAlign="center">

    <h1>
      <span class="main-heading-secondary"
            aria-hidden="true">{{ 'login.welcome' | translate }}</span>
      <span class="main-heading-primary">frag.jetzt</span>
    </h1>

  </div>

  <img tabindex="-1"
       src="/assets/background/auditorium.webp"
       class="screenshot"
       width="811"
       height="185"
       alt="Auditorium">

  <div fxLayout="row"
       fxLayoutAlign="center">
    <mat-card class="outer">
      <mat-card-content>
        <div fxLayout="row"
             fxLayoutAlign="center">
          <app-new-landing></app-new-landing>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <h2>
    <span data-nosnippet
          class="feedback">
      <a [joyrideStep]="'feedbackLink'"
         appJoyrideTemplate
         [stepPosition]="'top'"
         class="info"
         href="https://frag.jetzt/participant/room/Feedback"
         target="_blank"
         rel="noreferrer"
         aria-labelledby="feedback-aria">{{ 'login.welcome-feedback' | translate }}
      </a>
    </span>
  </h2>

  <button id="live_announcer-button"
          autofocus
          tabIndex="-1"
          (click)="announce()"
          class="visually-hidden">{{ 'home-page.live-announcer' | translate }}</button>
</div>
<div class="visually-hidden">
  <div id="feedback-aria">{{'login.feedback-aria' | translate}}</div>
</div>
