<h3>{{'quill.heading' | translate}}</h3>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{'quill.tooltip-label-' + data.type | translate}}</mat-label>
    <input type="text"
           appAccessibilityEscapedInput
           matInput
           autofocus
           placeholder="{{'quill.tooltip-placeholder-' + data.type | translate}}"
           [(ngModel)]="value">
  </mat-form-field>
  <app-custom-markdown [data]="getKatex()"
                       *ngIf="data.type === 'formula'"
                       [katexOptions]="katexOptions">
  </app-custom-markdown>
</mat-dialog-content>
<app-dialog-action-buttons
  [buttonsLabelSection]="'quill'"
  [confirmButtonLabel]="'tooltip-action-save'"
  [confirmButtonClickAction]="buildConfirmAction()"
  [cancelButtonClickAction]="buildCancelAction()">
</app-dialog-action-buttons>
