
.activityIcon {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 80px;
  left: 20px;

  .activityIconForeground {
    width: 100%;
    height: 100%;
    position: absolute;

    .activityIconForegroundText {
      position: relative;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: bold;
      box-shadow: none !important;
      right: -75px;
      background-color: transparent !important;
      color: var(--green) !important;
      animation:popin-shadow 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    }
  }
  .activityIconBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--green) !important;
    -webkit-mask-image: url("../../../../../assets/icons/activity.svg");
    mask-image: url("../../../../../assets/icons/activity.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    animation:shake 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  }
}

@keyframes shake {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popin-shadow {
  0% {
    transform: scale(0);
    box-shadow: 0 0 0 0 transparent;
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100% {
    transform: scale(1);
  }
}
