app-comment, mat-card {
  width: 100%;
  max-width: 800px;
}

.answer {
  background-color: var(--dialog);
  color: var(--on-dialog);
  padding: 3% 3%;
  box-sizing: border-box;
  font-size: 16px;
  hyphens: auto;
  overflow-wrap: break-word;
}

.answer a {
  color: var(--on-primary) !important;
  text-decoration: underline !important;
}

button {
  min-width: 95px;
  margin-top: 2%;
}

.save {
  background-color: var(--primary);
  color: var(--on-primary);
  margin-right: 1%;
}

mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.border-answer {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12), -8px 0 0 0 var(--primary);
}
