<div fxLayout="column"
     fxLayoutAlign="center"
     *ngIf="!isLoading"
     (document:keyup)="checkForEscape($event)"
     (document:click)="checkForBackDropClick($event, container.firstChild, writeCommentCard.firstChild)">
  <div fxLayout="row"
       #container
       fxLayoutAlign="center">
    <app-comment [comment]="comment"
                 [user]="user"
                 [userRole]="userRole"></app-comment>
  </div>
  <div fxLayout="row"
       #writeCommentCard
       fxLayoutAlign="center">
    <mat-card class="answer border-answer"
              *ngIf="!isStudent || answer">
      <app-write-comment [isModerator]="userRole > 0"
                         [isCommentAnswer]="true"
                         [placeholder]="'comment-page.your-answer'"
                         [onClose]="openDeleteAnswerDialog()"
                         [onSubmit]="saveAnswer()"
                         [disableCancelButton]="!answer && commentComponent && commentComponent.commentData.currentText.length > 0"
                         [confirmLabel]="'save-answer'"
                         [cancelLabel]="'delete-answer'"
                         [additionalTemplate]="editAnswer"
                         [enabled]="!isStudent && (edit || !answer)">
      </app-write-comment>
    </mat-card>
  </div>
</div>

<ng-template #editAnswer>
  <div *ngIf="(isStudent || !edit) && answer">
    <app-view-comment-data [currentData]="answer"></app-view-comment-data>
    <div fxLayout="row"
         fxLayoutAlign="end">
      <button mat-raised-button
              *ngIf="!isStudent && !edit"
              class="save"
              (click)="onEditClick()">
        <mat-icon>edit</mat-icon>
        {{'comment-page.edit-answer' | translate}}
      </button>
    </div>
  </div>
</ng-template>
