<div data-nosnippet>
  <p tabindex="0">
    Deine Fragen und Bewertungen sind anonym.
    Registriere dich nur, wenn du besuchte oder eigene Räume auf unserem Server speichern willst.
  </p>

  <p tabindex="0">
    Eine Registrierung ist auch dann ratsam,
    wenn du für »gute« Fragen einen Bonus erhältst und diesen später einlösen willst.
  </p>

  <p tabindex="0">
    Ohne Registrierung kannst du deine Räume nur in dem Browser aufrufen,
    wo du sie erstellt oder besucht hast.
    Löschst du die Browserdaten, werden auch deine Räume gelöscht.
  </p>

  <p tabindex="0">
    Mit dem Button »Akzeptieren« erklärst du dich mit unserer Daten&shy;schutz&shy;erklärung einverstanden.
    Du kannst sie über das Symbol oben einsehen.
  </p>
</div>
