<div>

  <h2 tabindex="0"
      mat-dialog-title
      class="modal oldtypo-h2">{{ 'data-protection.title' | translate }}</h2>



  <mat-dialog-content tabindex="0">
    <app-data-protection-en *ngIf="currentLang=='en'"></app-data-protection-en>
    <app-data-protection-de *ngIf="currentLang=='de'"></app-data-protection-de>
  </mat-dialog-content>

  <app-dialog-action-buttons
    buttonsLabelSection="imprint"
    [cancelButtonClickAction]="buildConfirmActionCallback()">
  </app-dialog-action-buttons>

</div>

