.new-session {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  margin: 10% 0 10% 0;
  font-size: 14px;
  background-color: var(--background);
  color: var(--on-background);
}

.add {
  padding-right: 12px;
  padding-left: 10px;
  transform: scale(2);
  color: var(--primary);
}
