<div data-nosnippet>
  <h2 tabindex="0">»Noch Fragen?«</h2>

  <img alt="Auditorium"
       class="screenshot"
       height="185"
       src="/assets/background/auditorium.webp"
       tabindex="-1"
       width="811">

  <div tabindex="0">
    <p>Vorträge, Vorlesungen und seit Corona auch Online-Seminare enden in der Regel mit: »Haben Sie Fragen?«. Und stets meldet sich niemand oder es fragen
       immer dieselben wenigen.
       Im Konferenzsaal traut sich kaum jemand oder die Fragen, die man im Verlauf des
       Vortrags eigentlich stellen wollte, sind vergessen.
       Im Video-Konferenzsystem agiert man nicht anonym. Die Sitzung wird möglicherweise aufgezeichnet.
       Die Mikrofone sind stumm,
       der Chat wird schnell unübersichtlich und der Vortragende kann den Kommentaren und Fragen kaum mehr folgen.</p>

    <p>Wem daran liegt, dass seine Vorträge und Online-Seminare
       hinterfragt werden, braucht ein Tool zum anonymen und stillen Fragenstellen.
       Ein solches Open-Source-Tool steht mit »frag.jetzt« kostenlos zur freien Verfügung.
       Gibt es Bedenken? Ist das Tool barrierefrei, daten&shy;schutz&shy;kon&shy;form,
       sofort ohne Einarbeitung und ohne technisches Verständnis mit jedem Endgerät nutzbar? Dreimal ja.</p>

    <p>Wenn ich »frag.jetzt« anonym und somit ohne soziale Kontrolle verwenden lasse, lade ich dann nicht auch zum
       Missbrauch ein? Nein, denn die öffentliche Fragenliste kann von einer Hilfskraft live moderiert werden: Nur vortragsadäquate
       Fragen verbleiben auf der Liste. Außerdem kannst du alle neuen Fragen automatisch in die Moderation verschieben:
       Sie werden erst öffentlich, wenn du oder dein Moderator sie einzeln freigibst.
    </p>

    <p>Aber ich kann doch nicht alle Fragen in den letzten zehn Minuten meines Vortrags oder im Online-Seminar
       beantworten. Klar. Hier kommt der kollektive Tool-Aspekt zum Tragen: Jeder im Auditorium kann jede Frage bewerten,
       neudeutsch: up oder down voten. Die vom Auditorium am höchsten bewerteten Fragen kannst du sofort beantworten, die
       anderen, falls du es willst, später noch in »frag.jetzt«, da die Sitzung eines registrierten Users fortbesteht.
    </p>
    <p>
      Auch kannst du das Tool bereits vor der Veranstaltung einsetzen,
      um Fragen der Teilnehmenden zu sammeln und sie gegenseitig zum Gewichten zur Verfügung zu stellen.
      Das bindet die Teilnehmenden schon vor der Veranstaltung mit ein,
      ermöglicht eine Abfrage von Erwartungen und Vorwissen und hilft, deinen Vortrag oder dein Seminar entsprechend anzupassen.
    </p>
  </div>
  <h2 tabindex="0">
    Das Besondere an »frag.jetzt«
  </h2>
  <p>
    Was unterscheidet unser Backchannel-Tool von »Mentimeter«, »Slido«, »Poll Everywhere« und vielen anderen kommerziellen Feedback-Apps?
    Es ist das Ergebnis langjähriger Erfahrungen mit Audience-Response-Systemen in der Präsenz- und Online-Lehre.
    Neben einer intuitiven Bedienbarkeit, belegt in empirischen UX-Studien mit hunderten Studierenden,
    waren didaktische und motivationale Kriterien bestimmend für die Konzeption und Entwicklung der App,
    siehe unseren
    <a class="info"
       href="https://arsnova.thm.de/blog/literatur/"
       target="_blank">ARSnova-Blog<span>Öffnet neue Seite</span></a>
    :

  </p>
  <div tabindex="0">
    <p>
      <strong>Fragen auszeichnen</strong><br><br>Der Vortragende oder ein Moderator kann gute Fragen mit einem Stern auszeichnen.
                                                 Sterne, die ein Moderator vergibt, helfen dem Vortragenden bei der Entscheidung, welche Fragen er live besprechen sollte.
                                                 Die Fragensteller finden zu jedem erworbenen Stern einen 8-ziffrigen Code (»Token«) auf ihrem Sitzungskonto.
                                                 Die Tokens können per Mail an den Vortragenden in Bonuspunkte eingelöst werden.
                                                 Der Vortragende überprüft die eingereichten Tokens anhand der vergebenen im Bonus-Archiv seines Raumes.
    </p>
    <p>
      <strong>Fragen beantworten oder markieren</strong><br><br>Raumersteller und Moderatoren können Fragen bejahen, verneinen, kommentieren oder als besprochen markieren.
                                                                Natürlich können die Symbole auch für andere Zwecke der Markierung verwendet werden.
                                                                Sie dienen zugleich als Filterkriterien zum schnellen Auffinden markierter Fragen.
                                                                Dass Zuhörer Fragen nicht kommentieren können, ist gewollt: »frag.jetzt« soll kein Facebook oder Twitter sein.
                                                                Würden wir es erlauben, wären die Zuhörer mit dem gegenseitigen Kommentieren ihrer Fragen beschäftigt.
    </p>
    <p>
      <strong>Fragen kategorisieren</strong><br><br>
      Der Raumersteller kann Kategorien (»Tags«) für Fragen definieren.
      Der Fragensteller kann seine Frage einer der vorgegebenen Kategorien zuordnen.
      Kategorisierte Fragen können durch Klicken des »Tags« gefiltert werden.
      Das Tagging ermöglicht es dem Moderator einer Podiumsdiskussion,
      die Fragen aus dem Publikum nach Themen oder Adressaten zu filtern:
      Tag »Frage an Herrn Scholz«, Tag »Frage an Frau Baerbock« …
    </p>

    <p>
      <strong>Fragen KI-gestützt analysieren</strong><br><br>

      Im Laufe eines Online-Kurses können sich im Rückkanal schnell Hunderte von Fragen ansammeln,
      die im Nachhinein nur schwer zu überblicken sind.
      Hier hilft die KI mit NLP (Natural Language Processing),
      den Überblick zu behalten:
      Die Substantive in den Texten werden auf ihre grammatische Stellung im Satz analysiert
      und als Stichwörter dem Fragensteller oder der Fragenstellerin zur thematischen Einordnung vorgeschlagen.
    </p>
    <p>
      Wohl wissend, dass die sprachliche Qualität eines anonymen Textes
      in Bezug auf Rechtschreibung, Grammatik, Zeichensetzung und Stil im Allgemeinen gering ist,
      wird bei »frag.jetzt« der Text an den Online-Übersetzungsdienst
      <a class="info"
         href="https://deepl.com"
         rel="noreferrer"
         target="_blank">»DeepL«
        <span>Öffnet neue Seite</span>
      </a>

      übermittelt
      und in eine Fremdsprache übersetzt, zum Beispiel Deutsch in Englisch.
      Die KI hinter DeepL ignoriert so gut wie alle sprachlichen Defizite.
      Die anschließende Rückübersetzung in die Ausgangssprache verwandelt einen schlecht geschriebenen Ausgangstext
      in einen formal korrekten und gut lesbaren generierten Text,
      ohne den Inhalt zu verfälschen.
      Der so bereinigte Text wird an die NLP-Software
      <a class="info"
         href="https://spacy.io/"
         rel="noreferrer"
         target="_blank">»spaCy«
        <span>Öffnet neue Seite</span>
      </a>

      weitergegeben,
      um aus diesem die Substantive nach Kasus als Stichwörter zu gewinnen.
      Das Ergebnis kann sich sehen lassen:
      Wir erstellen aus den KI-generierten Stichwörtern aller Fragen eine Wortwolke,
      die wir in »frag.jetzt« treffend »Themenwolke« nennen.
    </p>

    <p>
      <strong>Fragen fokussiert präsentieren</strong><br><br>
      Für die Besprechung der Fragen am Beamer können diese einzeln in Vollansicht präsentiert werden.
      Das Weiterschalten zur nächsten oder vorigen Frage erfolgt bequem mit den Pfeiltasten.
      Man kann die Anzeige auch im »Kiosk-Modus« schalten:
      Dann werden eingehende neue Fragen automatisch in Vollansicht gezeigt.
      Der Wechsel zur nächsten Frage wird verzögert, um das Lesen zu ermöglichen.
    </p>
    <p>
      Auf der Fragenliste können laufend neue Fragen oder Bewertungen das Lesen und Präsentieren erschweren, da sich die Positionen der Fragen ändern.
      Mit dem Pause-Button kann der Fragenstrom eingefroren werden.
      Neue Fragen oder Bewertungen sind aber weiterhin möglich.
    </p>
    <p>
      Klickt der Vortragende auf eine Frage in der Fragenliste, erscheint diese in Vollansicht.
      Gleichzeitig blitzt die Frage auf den Endgeräten aller Teilnehmenden auf, um deren Aufmerksamkeit zu bekommen.
    </p>
    <p>
      <strong>Fragen durchsuchen, sortieren und filtern</strong><br><br>
      Das schnelle Auffinden bestimmter Fragen wird durch Such-, Sortier- und Filteroptionen ermöglicht.
      Die Volltextsuche schließt auch die Antworten mit ein.
      Das Sortieren ist nach der Zeit, Bewertung und Kontroversität möglich.<br><br>
      Um kontroverse Fragen zu identifizieren, d. h. Fragen,
      bei denen sich die positiven und negativen Stimmen die Waage halten und die in der Fragenliste einen Wert nahe null haben,
      führen wir ein innovatives Sortierkriterium ein: den Grad der Kontroverse oder des Widerspruchs.
      Zunächst bilden wir die Differenz zwischen positiven und negativen Stimmen und ziehen sie von der Gesamtzahl der Stimmen ab.
      Was übrig bleibt, ist die absolute Anzahl der kontroversen Stimmen.
      Wir teilen diesen Wert durch die Gesamtzahl der Stimmen, um den Prozentsatz zu erhalten.
      Schließlich strecken wir den Prozentsatz mit einem empirischen Term,
      damit Fragen mit sehr wenigen kontroversen Stimmen nicht als kontroverser eingestuft werden als Fragen mit vielen Stimmen.
      Eine einfache Berechnung mit großer Aussagekraft für Fragenrunden mit kontroversen Themen.<br><br>
      Als Filterkriterien stehen zur Auswahl:
      ausgezeichnete (Bonus-Stern), markierte (Lesezeichen), nicht markierte, beantwortete, unbeantwortete und eigene Fragen.
      <br><br>
      Mit Klick auf das Tag-Icon an einer Frage werden alle Fragen dieser Kategorie angezeigt.
      Mit Klick auf das User-Icon an einer Frage werden alle Fragen dieses Users angezeigt.
      So lässt sich die Verteilung der Fragen unter den Fragenstellern beurteilen:
      Wie viele Personen beteiligen sich? Welche Fragen stellt ein und dieselbe Person?
    </p>
    <p>
      <strong>Quizzing mit
        <a class="info"
           href="https://antworte.jetzt/"
           rel="noreferrer"
           target="_blank">»antworte.jetzt«
          <span>Öffnet neues Fenster</span>
        </a>
      </strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           height="344"
           src="/assets/images/antworte_jetzt.webp"
           tabindex="-1"
           width="640">

      »frag.jetzt« verfügt über eine Quizzing-Option:
      Wir haben unsere beliebte spielbasierte Quiz-App »arsnova.click« eingebunden.
      Die
      <a class="info"
         href="https://antworte.jetzt/info/about"
         rel="noreferrer"
         target="_blank">Info-Seite<span>Öffnet neues Fenster</span>
      </a>
      informiert dich über sämtliche Features.
      Die Punktzahl in der Rangliste wird unter Berücksichtigung der Schwierigkeit der Quizfrage
      und der Kürze der Antwortzeit berechnet.
      Wenn alle Quizfragen, die für einen Bonus vorgesehen sind, richtig beantwortet werden,
      erhält der Spieler einen Bonustoken, den er mit einem Klick in einer E-Mail an die Lehrperson einlösen kann.
    </p>
    <p>
      <strong>Kostenfrei bei voller Funktionalität</strong><br><br>Es können beliebig viele Räume kostenlos als Gast oder registrierter User erstellt werden.
                                                                   Die Räume registrierter User bleiben dauerhaft erhalten.
                                                                   Erst 180 Tage nach der letzten Nutzung eines Raumes wird dieser automatisch gelöscht.
                                                                   Alle Fragen können mit ihren Bewertungen und Kommentaren in einer Excel-Tabelle gespeichert werden.
    </p>
    <p>
      <strong>Barrierefrei</strong><br><br>In »frag.jetzt« werden die Use Cases von einem Audioguide vorgelesen und sind mit den numerischen Tasten navigierbar.
                                           Dies erlaubt es, die App komfortabel und schnell zu nutzen, ohne zuvor die gesamte Seite mit dem Screen Reader zu erkunden.
                                           Die Benutzerschnittstelle genügt den Anforderungen an Lesbarkeit gemäß WCAG 2.1 AA.
                                           Für die Beamer-Präsentation und für sehbeeinträchtigte Personen stehen entsprechende Anzeigeoptionen zur Verfügung.
                                           Insbesondere kann die Schriftgröße der Fragen skaliert werden.
                                           Neben dem Raum-Code kann ein Raum auch über einen automatisch generierten Direktlink betreten werden.
    </p>
    <p>
      <strong>Datenschutz</strong><br><br>»frag.jetzt« kann bei einer Anmeldung als Gast vollständig anonym verwendet werden.
                                          Die Konten registrierter User werden datenschutzkonform nach den Vorgaben der DSGVO gespeichert und verwaltet.
                                          Der Programmcode ist »Open Source Software« und einsehbar auf
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt"
         target="_blank">
        GitHub<span>Öffnet neue Seite</span></a>
                                          .
                                          »frag.jetzt« wird als »Software as a Service« von der TransMIT GmbH auf Servern in Deutschland betrieben, siehe Impressum.
                                          Wer »frag.jetzt« auf einem eigenen Server betreiben will, findet eine Docker-Installationsanleitung auf
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
         target="_blank">GitHub <span>Öffnet ein neues Fenster</span>
      </a>
                                          oder kann die TransMit GmbH damit beauftragen.
    </p>
    <p>
      <strong>»Progressive Web App« (PWA)</strong><br><br>
      Obwohl eine gewöhnliche Webseite, verhält sie sich wie eine App aus dem App Store.
      Du kannst sie aus dem Browser heraus ohne Download installieren: »Zur Startseite hinzufügen«.
      Danach startet sie wie eine gewöhnliche App.
      Als PWA läuft sie auf jedem Smartphone, egal welches Betriebssystem, egal welcher Browser.
      So wird dein Publikum immer bereit sein, »frag.jetzt« vorort und spontan zu nutzen.
    </p>
    <p>
      <strong>Freie Software, frei von Werbung</strong><br><br>
      »frag.jetzt« ist seit dem Wintersemester 2019/20 ein Open-Source-Projekt der Technischen Hochschule Mittelhessen, THM.
      Die Website ist herstellerneutral und frei von Werbung.
      Die Weiterentwicklung ist für die nächsten fünf Jahre garantiert.
      Dann geht der Projektleiter in Pension und wird das Projekt als Hobby betreiben.
      Aber bis dahin werden hunderte Informatikstudierende der THM engagiert und kontinuierlich an allen Aspekten der Software-Entwicklung
      (User Experience, Hochverfügbarkeit und Sicherheit) weiter arbeiten – nicht für Geld, sondern Credit Points und gute Noten.
    </p>
  </div>

  <h2 tabindex="0">Studierende online aktivieren</h2>

  <p>
    Wer Online-Seminare in einem Videokonferenzsystem 90 Minuten lang gehalten hat,
    weiß, was es heißt, gegen eine »digitale Wand« zu sprechen:
    Reden ohne Feedback mit der Tendenz zum Selbstgespräch.
    Ob die Teilnehmer wirklich zuhören, das Gehörte verstehen oder überhaupt präsent sind, sieht man nicht.
    Ihre Kameras sind abgeschaltet.
    Wie man trotz der Wand mit Backchannel-Tools wie »frag.jetzt« Studierende aktivieren kann,
    erläutert Malte Persike:
  </p>

  <div class="video">
    <div class="videoWrapper">
      <iframe allowfullscreen
              height="315"
              src="https://www.youtube.com/embed/lj1HMvZ73xY?autoplay=0"
              tabindex="0"
              width="560"
      ></iframe>
    </div>
  </div>

  <h2 tabindex="0">Handy-Nutzung im Hörsaal</h2>
  <div tabindex="0">
    <p>
      Die Nutzung des Smartphones während der Veranstaltung bringt ein hohes Ablenkungsrisiko mit sich.
      Wir haben aus unserer langjährigen Erfahrung mit Audience-Response-Systemen im Hörsaal gelernt,
      wie man das Ablenkungsrisiko didaktisch angehen kann:
    </p>

    <ol>
      <li>
        <p>Handy-Nutzung während der Vorlesung:</p>
        Eine Hilfskraft moderiert die Fragenliste vor Ort oder aus der Ferne.
        10 Minuten vor Ende der Vorlesung beantwortet die Lehrperson 2-3 Top-Fragen am Beamer.
        <br><br>
        Was wenn ich keine Hilfskraft zur Verfügung habe?
        Folge dem Rat von Malte Persike aus dem Video oben:
        Frage jemanden aus der ersten Reihe, diesen Job zu übernehmen.
        Sie oder er wird nicht Nein sagen.
      </li>
      <li>
        <p>Handy-Nutzung nur in der Pause:</p>
        Die Lehrperson gibt den Raum-Code in der Pause bekannt und moderiert die Fragen selbst.
        Nach der Pause beantwortet sie 2-3 Top-Fragen.
      </li>
      <li>
        <p> Keine Handy-Nutzung während der Vorlesung (A):</p>
        Die Lehrperson erstellt einen neuen Raum am Ende jeder Vorlesung.
        Die Studierenden können zuhause Fragen stellen und bewerten.
        Die Fragenliste moderiert eine Hilfskraft oder die Lehrperson selbst.
        In den ersten 10 Minuten der nächsten Vorlesung geht die Lehrperson auf 2-3 Top-Fragen ein.
      </li>
      <li>
        <p>Keine Handy-Nutzung während der Vorlesung (B):</p>
        Die Lehrperson erstellt einen Raum für die gesamte Dauer des Kurses.
        Eine Hilfskraft moderiert die Fragenliste während des Semesters.
        Die Lehrperson markiert die relevanten Fragen und löscht alle anderen.
        Die Fragenliste dient so der Reflexion der Vorlesungsinhalte und zur Vorbereitung auf die Klausur.
      </li>
    </ol>
  </div>

  <h2 tabindex="0">Screen Reader und »Gender«-gerechte Sprache</h2>

  <p tabindex="0">
    Screen Reader für sehbeeinträchtigte oder blinde Personen sprechen »ge-genderte« Nomen unverständlich aus.
    Wir verwenden deshalb das
    <a class="info"
       href="https://de.wikipedia.org/wiki/Generisches_Maskulinum"
       rel="noreferrer"
       target="_blank">Generische Maskulinum<span>Öffnet neue Seite</span></a>
    für Texte und Labels in der App.
    <br><br>

    Auf der Grundlage eigener Tests mit blinden Personen empfehlen wir folgende Screen Reader für die Nutzung von »frag.jetzt«:
    <br><br>

    Windows-Rechner:
    <a class="info"
       href="https://nvda.bhvd.de/"
       rel="noreferrer"
       target="_blank">NVDA<span>Öffnet neue Seite</span></a>
    <br>
    Linux-Rechner:
    <a class="info"
       href="https://support.google.com/chromebook/answer/7031755?hl=de"
       rel="noreferrer"
       target="_blank">ChromeVox<span>Öffnet neue Seite</span></a>
    <br>
    macOS-Rechner:
    <a class="info"
       href="https://help.apple.com/voiceover/mac/"
       rel="noreferrer"
       target="_blank">VoiceOver<span>Öffnet neue Seite</span></a>
    <br>
  </p>
</div>
