<div fxLayout="row"
     *ngIf="comments.length > 0"
     [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     (window:scroll)="checkScroll()"
     fxLayoutAlign="center">

  <button id="filter-close-button"
          mat-icon-button
          class="searchBarButton"
          *ngIf="filter.filterType"
          (click)="applyFilterByKey(null)"
          aria-labelledby="close_filter">
    <mat-icon class="searchBarIcon red">close</mat-icon>
  </button>
  <mat-label *ngIf="deviceType === 'desktop'"
             fxLayoutAlign="center center">
    <mat-icon class="search-icon">search</mat-icon>
  </mat-label>
  <input appAccessibilityEscapedInput
         #searchBox
         id="searchBox"
         [ngClass]="{'desktop-input': deviceType === 'desktop',
   'mobile-input': deviceType === 'mobile' && !search, 'mobile-input-2': deviceType === 'mobile' && search }"
         (input)="searchComments()"
         [(ngModel)]="filter.currentSearch"
         [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description"/>
  <button id="search_close-button"
          mat-icon-button
          class="searchBarButton close red"
          *ngIf="filter.currentSearch || search"
          (click)="abortSearch()">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar"
       fxLayoutAlign="center center">
    <div *ngIf="comments && commentsFilteredByTime.length > 0">
      <h3 class="counter"
          *ngIf="comments && !hideCommentsList">{{commentsFilteredByTime  .length}}</h3>
      <h3 class="counter-filtered"
          *ngIf="filteredComments && hideCommentsList">{{filteredComments.length}}</h3>
    </div>

    <button mat-icon-button
            class="searchBarButton"
            (click)="activateSearch()"
            *ngIf="deviceType === 'mobile' && !search && comments && comments.length > 0 && !search">
      <mat-icon class="searchBarIcon">search</mat-icon>
    </button>

    <button id="sort-button"
            mat-icon-button
            class="searchBarButton"
            *ngIf="!searchBox.value && comments && commentsFilteredByTime.length > 2 && !search"
            [matMenuTriggerFor]="sortMenu"
            matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon class="searchBarIcon">swap_vert</mat-icon>
    </button>

    <button id="time-button"
            mat-icon-button
            class="searchBarButton"
            aria-labelledby="time_settings"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="timeMenu"
            [ngClass]="{'active-filter': filter.period !== 'time-all'}"
            matTooltip="{{ 'comment-list.select-time' | translate }}">
      <mat-icon class="searchBarIcon">history</mat-icon>
    </button>

    <button mat-icon-button
            class="searchBarButton material-icons-outlined"
            (click)="switchToCommentList()"
            *ngIf="!searchBox.value && comments && !search"
            matTooltip="{{ 'comment-list.switch-to-comment-list' | translate }}">
      <mat-icon class="searchBarIcon material-icons-outlined">forum</mat-icon>
    </button>
  </div>

  <mat-menu #sortMenu="matMenu"
            xPosition="before">
    <button mat-menu-item
            matTooltip="{{ 'comment-list.time' | translate }}"
            (click)="applySortingByKey('time')"
            aria-labelledby="access_time">
      <mat-icon [ngClass]="{time: 'timesort'}[filter.sortType]">update</mat-icon>
      <span [ngClass]="{time: 'timesort'}[filter.sortType]">{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item
            matTooltip="{{ 'comment-list.vote-asc' | translate }}"
            (click)="applySortingByKey('score')"
            aria-labelledby="keyboard_arrow_up">
      <mat-icon class="material-icons-outlined"
                [ngClass]="{score: 'up'}[!filter.sortReverse && filter.sortType]">
        thumb_up
      </mat-icon>
      <span>{{ 'comment-list.sort-vote-asc' | translate }}</span>
    </button>

    <button mat-menu-item
            matTooltip="{{ 'comment-list.vote-desc' | translate }}"
            (click)="applySortingByKey('score', true)"
            aria-labelledby="keyboard_arrow_down">
      <mat-icon [ngClass]="{score: 'down'}[filter.sortReverse && filter.sortType]"
                class="material-icons-outlined">
        thumb_down
      </mat-icon>
      <span>{{ 'comment-list.sort-vote-desc' | translate }}</span>
    </button>
  </mat-menu>

  <mat-menu #timeMenu="matMenu" xPosition="before">
    <div *ngFor="let periodItem of periodsList">
      <button mat-menu-item (click)="setTimePeriod(periodItem)" class="period"
              [ngClass]="{'selected': periodItem === filter.period}"
              aria-labelledby="{{periodItem}}">
        <span>{{ ('comment-list.select-' + periodItem) | translate }}</span>
      </button>
    </div>
  </mat-menu>

</div>

<button mat-icon-button
        class="scrollTop"
        [ngClass]="{'visible': isScrollButtonVisible()}"
        (click)="AppComponent.scrollTop()"
        tabIndex="-1">
  <mat-icon>vertical_align_top</mat-icon>
</button>

<div *ngIf="!isLoading">
  <app-comment *ngFor="let current of hideCommentsList ? filteredComments : commentsFilteredByTime"
               [comment]="current"
               [userRole]="user.role"
               [parseVote]="getVote(current)"
               [moderator]="true"
               [commentsWrittenByUser]="commentsWrittenByUsers.get(current.creatorId).size"
               (clickedOnTag)="applyFilterByKey('tag', $event)"
               (clickedUserNumber)="applyFilterByKey('userNumber', $event)"
               (clickedOnKeyword)="applyFilterByKey('keyword', $event)">
  </app-comment>
</div>
<ars-mat-paginator
  *ngIf="(hideCommentsList ? filteredComments : commentsFilteredByTime).length>0"
  [pageSize]="this.pageSize"
  (page)="handlePageEvent($event)"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="(hideCommentsList ? filteredComments : commentsFilteredByTime).length"></ars-mat-paginator>
<ars-row [height]="64" *ngIf="(hideCommentsList ? filteredComments : commentsFilteredByTime).length>0">
</ars-row>

<div *ngIf="comments && (commentsFilteredByTime.length < 1 && filter.period === 'time-all' || comments.length === 0) && !isLoading"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <!-- no question present-->
  <p class="oldtypo-p">{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div *ngIf="(filteredComments && filteredComments.length === 0 && hideCommentsList)
            || (comments && commentsFilteredByTime.length === 0 && filter.period !== 'time-all') && !isLoading && comments.length > 0"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="no-comments">
  <p class="oldtypo-p">{{ (search ? 'comment-page.no-comments-with-search' : 'comment-page.no-comments-with-filter') | translate }}</p>
</div>

<div class="visually-hidden">
  <div id="search-box-input-description">
    {{ 'comment-page.search-box-input-description' | translate }}
  </div>
  <div id="select-time">{{ 'comment-list.a11y-select-time' | translate }}</div>
  <div id="select-time-1h">{{ 'comment-list.a11y-select-time-1h' | translate }}</div>
  <div id="select-time-3h">{{ 'comment-list.a11y-select-time-3h' | translate }}</div>
  <div id="select-time-1d">{{ 'comment-list.a11y-select-time-1d' | translate }}</div>
  <div id="select-time-1w">{{ 'comment-list.a11y-select-time-1w' | translate }}</div>
  <div id="select-time-all">{{ 'comment-list.a11y-select-time-all' | translate }}</div>
</div>
