.dialog-action-buttons:not(.no-spacing), .dialog-action-buttons .buttons {
  margin-top: 1rem;
}

.dialog-action-buttons .cancel-button {
  background-color: var(--cancel);
  color: var(--on-cancel);
}

.primary-confirm-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.alert-confirm-button {
  background-color: var(--red);
  color: var(--white);
}

.dialog-action-buttons .cancel-button:focus {
  background: var(--secondary);
  color: var(-on-secondary);
}

.dialog-action-buttons .primary-confirm-button:focus {
  background: var(--secondary);
  color: var(--on-secondary);
}

.spinner-container {
  font-size: 14px;
  margin-top: -2px;
}
