<mat-form-field [appearance]="data.appearance?data.appearance:'fill'" class="ars-mat-date-picker">
  <mat-label>{{data.title | translate}}</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
